#liveblog-header img {
    height: auto;
    max-width: 100%;
}
.portaltype-liveblog article .field input[type="text"] {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
}
.portaltype-liveblog form {
    padding-bottom: 1em;
}
.portaltype-liveblog textarea {
    height: 100px;
}
.portaltype-liveblog #content header {
    margin-bottom: 1em;
}
#spinner {
    background: url('++resource++collective.liveblog/spinner.gif') no-repeat center right;
    float: right;
    padding-right: 20px;
}
.microupdate-helpers {
    float: right;
}
.microupdate-helpers a {
    border-bottom: none !important;
}
#micro-updates article {
    border-top: 1px solid #ccc;
    clear: both;
    margin-bottom: 1em;
    padding: 1em 0 0 0;
    position: relative;
}
.template-microupdate.portaltype-liveblog #micro-updates article {
    border-top: none;
}
.microupdate-byline time {
    background: #f1f1f1;
    padding: 1em 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 90px;
}
.microupdate-text img {
    max-width: 100%;
    height: auto;
}
.microupdate-date {
    color: #666;
    display: block;
    margin-bottom: 0.2em;
}
.microupdate-time {
    color: #c9c9c9;
    display: block;
    font-size: 1.8em;
    font-weight: bold;
}
.microupdate-title, .microupdate-text, .microupdate-byline p {
    margin-left: 110px;
}
.template-microupdate.portaltype-liveblog .microupdate-text {
    margin-left: auto;
}
.microupdate-byline {
    color: #666;
}
.microupdate-text p:last-child {
    margin-bottom: 0 !important;
}
/* Responsive */
@media all and (max-width: 680px) {
    .microupdate-title, .microupdate-text, .microupdate-byline p {
        margin-left: 0;
    }
    .microupdate-byline p, .microupdate-date, .microupdate-time {
        display: inline;
        font-size: 90%;
    }
    .microupdate-byline time {
        background: transparent;
        padding: 0.5em 0;
        width: auto;
        position: relative;
        text-align: left;
    }
    .microupdate-time {
        color: #666;
        font-weight: normal;
    }
    #micro-updates article {
        padding-top: 0.3em;
    }
}
